<!--
  Generated template for the AddressRegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'ADDRESS_REGISTRATION_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="formGroup" (submit)="register()">
    <ion-list>
      <ion-item>
        <ion-label fixed>{{ 'ALIAS' | translate }}</ion-label>
        <ion-input type="text" formControlName="alias"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>{{ 'POSTAL_CODE' | translate }}</ion-label>
        <ion-input type="number" formControlName="cep"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>{{ 'STREET' | translate }}</ion-label>
        <ion-input type="text" formControlName="street"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>{{ 'STREET_NUMBER' | translate }}</ion-label>
        <ion-input type="tel" formControlName="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>{{ 'NEIGHBORHOOD' | translate }}</ion-label>
        <ion-input type="text" formControlName="neighborhood"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>{{ 'CITY' | translate }}</ion-label>
        <ion-input type="text" formControlName="city"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>{{ 'STATE' | translate }}</ion-label>
        <ion-input type="text" formControlName="state"></ion-input>
      </ion-item>

      <div padding>
        <button ion-button color="primary" block>{{ 'CONTINUE_BUTTON' | translate }}</button>
      </div>

    </ion-list>
  </form>
</ion-content>
