<!--
  Generated template for the CategoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'CATEGORY_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row wrap>
      <ion-col col-12 *ngFor="let category of categories">
        <button ion-item (click)="next(category)">
          <ion-thumbnail item-left>
            <img src="{{category.image.url}}" alt="{{category.name}}" />
          </ion-thumbnail>
          <h2>{{category.name}}</h2>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
