<ion-header>
    <ion-navbar>
      <ion-title>{{ 'PHONE_SELECTION_TITLE' | translate }}</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <form [formGroup]="formGroup" (submit)="next()">
      <ion-grid>
        <ion-row>
          <ion-item>
            <ion-label>{{ 'PHONE_TYPE' | translate }}</ion-label>
            <ion-select formControlName="phone">
              <div *ngFor="let phone of phones">
                <ion-option [value]="phone">
                  {{phone.name}}
                </ion-option>
              </div>
            </ion-select>
          </ion-item>
        </ion-row>
  
        <ion-row justify-content-end margin-top>
          <a on-tap="register()">{{ 'PHONE_REGISTRATION_TITLE' | translate }}</a>
        </ion-row>
  
        <ion-row margin-top>
          <ion-col>
            <button ion-button color="primary" block [disabled]="formGroup.invalid">
              {{ 'CONTINUE_BUTTON' | translate }}
            </button>
          </ion-col>
        </ion-row>
  
      </ion-grid>
    </form>
  </ion-content>