<!--
  Generated template for the ProductListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'PRODUCT_LIST_TITLE' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="add()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let product of products">
      <ion-item (click)="details(product)">
        <ion-thumbnail item-left>
          <img src="{{product.photo}}" alt="{{product.name}}" />
        </ion-thumbnail>
        <h2>{{product.name}}</h2>
        <h3 class="description">{{product.description}}</h3>
      </ion-item>
      <ion-item-options>
        <button ion-button color="danger" (click)="remove(product)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
