<!--
  Generated template for the PhoneRegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'PHONE_REGISTRATION_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="formGroup" (submit)="register()">
    <ion-list>
      <ion-item>
        <ion-label fixed>{{ 'PHONE_TYPE' | translate }}</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>{{ 'PHONE_NUMBER' | translate }}</ion-label>
        <ion-input type="tel" formControlName="number"></ion-input>
      </ion-item>

      <div padding>
        <button ion-button color="primary" block>{{ 'CONTINUE_BUTTON' | translate }}</button>
      </div>

    </ion-list>
  </form>
</ion-content>
