<!--
  Generated template for the ProductDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'DETAILS' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h5>{{ 'CATEGORY' | translate }}</h5>
        <p>{{ productInfo.category.name }}</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h5>{{ 'NAME' | translate }}</h5>
        <p>{{ productInfo.name }}</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h5>{{ 'DESCRIPTION' | translate }}</h5>
        <p>{{ productInfo.description }}</p>
      </ion-col>
    </ion-row>

    <ion-row class="content__image-row">
      <ion-col>
        <ion-img class="content__image-row__image" cache="true" src="{{ photo }}">
        </ion-img>
      </ion-col>
    </ion-row>

    <ion-row margin-top>
      <ion-col>
        <h5>{{ 'ADDRESS' | translate }}</h5>
        <p>
          {{ productInfo.address.street }}, {{ productInfo.address.cep }} - {{ productInfo.address.neighborhood }}
          <br> {{ productInfo.address.city }} - {{ productInfo.address.state }}
        </p>
      </ion-col>
    </ion-row>

    <ion-row margin-top>
      <ion-col>
        <h5>{{ 'CONTACT' | translate }}</h5>
        <p>
          {{ productInfo.phone.name }}: {{ productInfo.phone.number }}
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <button *ngIf="isRegistration" ion-button color="primary" block on-tap="register()">
          {{ 'REGISTER_BUTTON' | translate }}
        </button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
