<ion-header>
  <ion-navbar>
    <ion-title>{{ 'ADDRESS_SELECTION_TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formGroup" (submit)="next()">
    <ion-grid>
      <ion-row>
        <ion-item>
          <ion-label>{{ 'ADDRESS_NAME' | translate }}</ion-label>
          <ion-select formControlName="address">
            <div *ngFor="let address of addresses">
              <ion-option [value]="address">
                {{address.alias}}
              </ion-option>
            </div>
          </ion-select>
        </ion-item>
      </ion-row>

      <ion-row justify-content-end margin-top>
        <a on-tap="register()">{{ 'ADDRESS_REGISTRATION_TITLE' | translate }}</a>
      </ion-row>

      <ion-row margin-top>
        <ion-col>
          <button ion-button color="primary" block [disabled]="formGroup.invalid">
            {{ 'CONTINUE_BUTTON' | translate }}
          </button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>