page-product-register {
  .content {
    &__image-row {
      height: 300px;

      &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }
    }
  }

  ion-img {
    background-color: white;
  }
}
