<!--
  Generated template for the ProductPhotoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'PRODUCT_REGISTER_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="formGroup" (submit)="next()">
    <ion-grid>

      <ion-row margin-top class="content__image-row">
        <ion-col>
          <ion-img class="content__image-row__image" cache="true" src="{{ product.photo }}" (click)="selectPhoto()">
          </ion-img>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label fixed>{{ 'NAME' | translate }}</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label fixed>{{ 'DESCRIPTION' | translate }}</ion-label>
            <ion-textarea formControlName="description" maxLength="500" rows="8"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <button ion-button color="primary" block [disabled]="formGroup.invalid">
            {{ 'CONTINUE_BUTTON' | translate }}
          </button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>
